<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <script src="./assets/js/loadSidebar.js" async></script>
  </head>
  <body class="bg-slate-900 text-white">
    <header>
      <nav></nav>
    </header>
    <div class="flex">
      <aside class="h-dvh min-w-48 overflow-y-scroll bg-slate-700 p-2"></aside>
      <main class="container mx-auto h-dvh overflow-y-scroll px-5">
        <h2 class="text-2xl font-semibold text-white">Simple Buttons</h2>
        <section class="my-5 flex flex-wrap gap-4 *:rounded *:px-5 *:py-2">
          <button>Button</button>
          <button class="bg-gray-700">Button</button>
          <button class="bg-slate-700 text-slate-100 hover:bg-slate-600">
            Button
          </button>
          <button class="bg-black text-white hover:bg-gray-950">Button</button>
          <button class="bg-rose-700 text-rose-100 hover:bg-rose-600">
            Button
          </button>
        </section>
        <h2 class="text-2xl font-semibold text-white">Outline Buttons</h2>
        <section
          class="my-5 flex flex-wrap gap-4 *:rounded *:border *:px-5 *:py-2"
        >
          <button>Button</button>
          <button class="bg-gray-700">Button</button>
          <button class="bg-slate-700 text-slate-100 hover:bg-slate-600">
            Button
          </button>
          <button class="bg-black text-white hover:bg-gray-950">Button</button>
          <button
            class="border-rose-700 bg-rose-100 text-rose-700 hover:border-rose-100 hover:bg-rose-700 hover:text-rose-100"
          >
            Button
          </button>
        </section>
        <h2 class="text-2xl font-semibold text-white">Dense Simple Buttons</h2>
        <section
          class="my-5 flex flex-wrap gap-4 *:rounded *:border *:px-3 *:py-1"
        >
          <button>Button</button>
          <button class="bg-gray-700">Button</button>
          <button class="bg-slate-700 text-slate-100 hover:bg-slate-600">
            Button
          </button>
          <button class="bg-black text-white hover:bg-gray-950">Button</button>
          <button
            class="border-rose-700 bg-rose-100 text-rose-700 hover:border-rose-100 hover:bg-rose-700 hover:text-rose-100"
          >
            Button
          </button>
        </section>
        <h2 class="text-2xl font-semibold text-white">Full Width Button</h2>
        <section
          class="my-5 flex flex-wrap gap-4 *:w-full *:rounded *:border *:px-5 *:py-2 *:transition"
        >
          <button class="bg-black text-white hover:bg-gray-950">Button</button>
          <button class="bg-rose-700 text-rose-100 hover:bg-rose-600">
            Button
          </button>
          <button class="bg-black text-white hover:bg-gray-950">Button</button>
          <button
            class="border-rose-700 bg-rose-100 text-rose-700 hover:border-rose-100 hover:bg-rose-700 hover:text-rose-100"
          >
            Button
          </button>
        </section>
      </main>
    </div>
    <footer></footer>
  </body>
</html>
