<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style.css" />
  </head>

  <body class="bg-slate-900 text-white">
    <header class="border-b border-slate-700 bg-slate-950">
      <nav class="container mx-auto flex h-14 items-center justify-between">
        <h2><a href="/" class="text-xl">Website</a></h2>
        <ul class="flex gap-4">
          <li>
            <a href="/" class="hover:text-orange-400">Home</a>
          </li>
          <li>
            <a
              href="./components"
              class="rounded-md px-4 py-1.5 text-orange-400 shadow-sm shadow-orange-400 transition hover:shadow-md hover:shadow-orange-400"
              >Components</a
            >
          </li>
          <li>
            <a href="/" class="hover:text-orange-400">Sections</a>
          </li>
          <li>
            <a href="/" class="hover:text-orange-400">Layouts</a>
          </li>
          <li>
            <a href="/" class="hover:text-orange-400">Themes</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="flex">
      <aside class="h-dvh min-w-48 overflow-y-scroll bg-slate-950">
        <ul>
          <li class="text-orange-400 shadow-sm shadow-orange-400 transition">
            <a href="./alerts.html" class="block px-4 py-2">Alerts</a>
          </li>
          <li class="shadow-sm shadow-white hover:text-orange-400">
            <a href="./buttons.html" class="block px-3 py-2">Buttons</a>
          </li>
          <li class="shadow-sm shadow-white hover:text-orange-400">
            <a href="./lists.html" class="block px-3 py-2">Lists</a>
          </li>
          <li class="shadow-sm shadow-white hover:text-orange-400">
            <a href="./chips.html" class="block px-3 py-2">Chips</a>
          </li>
          <li class="shadow-sm shadow-white hover:text-orange-400">
            <a href="./cards.html" class="block px-3 py-2">Cards</a>
          </li>
        </ul>
      </aside>
      <main class="h-dvh overflow-y-scroll">
        <section></section>
      </main>
    </div>
    <footer></footer>
  </body>
</html>
