<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <script src="./assets/js/loadSidebar.js" async></script>
  </head>
  <body class="bg-slate-900 text-white">
    <header>
      <nav></nav>
    </header>
    <div class="flex">
      <aside class="h-dvh min-w-48 overflow-y-scroll bg-slate-700 p-2"></aside>
      <main class="container mx-auto h-dvh overflow-y-scroll px-5">
        <h2 class="text-2xl font-semibold text-white">Simple List</h2>
        <section class="my-5">
          <ul
            class="rounded bg-slate-700 p-2 *:my-2 *:rounded *:bg-slate-800 *:p-2 *:px-5"
          >
            <li class="hover:bg-orange-700">List Item Coffee</li>
            <li class="hover:bg-orange-700">List Item Coffee</li>
            <li class="hover:bg-orange-700">List Item Coffee</li>
            <li class="hover:bg-orange-700">List Item Coffee</li>
            <li class="hover:bg-orange-700">List Item Coffee</li>
            <li class="hover:bg-orange-700">List Item Coffee</li>
            <li class="hover:bg-orange-700">List Item Coffee</li>
            <li class="hover:bg-orange-700">List Item Coffee</li>
            <li class="hover:bg-orange-700">List Item Coffee</li>
            <li class="hover:bg-orange-700">List Item Coffee</li>
          </ul>
        </section>
        <h2 class="text-2xl font-semibold text-white">Dense Simple List</h2>
        <section class="my-5">
          <ul
            class="rounded bg-slate-700 p-2 *:my-2 *:rounded *:bg-slate-800 *:p-1 *:px-3"
          >
            <li class="hover:bg-orange-700">List Item Coffee</li>
            <li class="hover:bg-orange-700">List Item Coffee</li>
            <li class="hover:bg-orange-700">List Item Coffee</li>
            <li class="hover:bg-orange-700">List Item Coffee</li>
            <li class="hover:bg-orange-700">List Item Coffee</li>
            <li class="hover:bg-orange-700">List Item Coffee</li>
            <li class="hover:bg-orange-700">List Item Coffee</li>
            <li class="hover:bg-orange-700">List Item Coffee</li>
            <li class="hover:bg-orange-700">List Item Coffee</li>
            <li class="hover:bg-orange-700">List Item Coffee</li>
          </ul>
        </section>
      </main>
    </div>
    <footer></footer>
  </body>
</html>
